<ion-view view-title="News">
    <ion-content overflow-scroll="false">
        <ion-list ng-repeat="list in lists" >
            <div class="item item-divider">{{list.initial}}</div>
            <ion-item class="item-remove-animate" type="item-text-wrap" href="#/tab/keyword/{{list.id}}">
                <h2>{{list.keyword}}</h2>
                <p>{{list.date}} | {{list.time}}</p>
                <ion-option-button class="button-assertive" ng-click="remove(list)">
                    Delete
                </ion-option-button>
            </ion-item>
        </ion-list>
    </ion-content>
</ion-view>
