<ion-view view-title="Home">
    <ion-content class="padding" overflow-scroll="false">
        <div class="list list-inset">
            <label class="item item-input">
                <i class="icon ion-search placeholder-icon"></i>
                <input type="text" placeholder="Enter a keyword (E.g. Azmin Ali)">
            </label>
        </div>
    </ion-content>
</ion-view>
