<ion-view view-title="{{list.keyword}}">
    <ion-content class="padding" overflow-scroll="false">
        <ion-slide-box active-slide="activeSlide">
            <ion-slide>
                <div><b style="color:blue">Newspaper: {{news[0]}}</b></div>
                <div><b>Title: {{news[1]}}</b></div>
                <div><b>Date/Time: {{list.date}} | {{list.time}}</b></div>
                <p style="padding-top: 10%">{{news[2]}}</p>
            </ion-slide>
            <ion-slide>
                <div><b style="color:blue">Newspaper: {{news[3]}}</b></div>
                <div><b>Title: {{news[4]}}</b></div>
                <div><b>Date/Time: {{list.date}} | {{list.time}}</b></div>
                <p style="padding-top: 10%">{{news[5]}}</p>
            </ion-slide>
            <ion-slide>
                <div><b style="color:blue">Newspaper: {{news[6]}}</b></div>
                <div><b>Title: {{news[7]}}</b></div>
                <div><b>Date/Time: {{list.date}} | {{list.time}}</b></div>
                <p style="padding-top: 10%">{{news[8]}}</p>
            </ion-slide>
        </ion-slide-box>
    </ion-content>
</ion-view>
