<ion-tabs class="tabs-icon-top tabs-color-active-positive">
    <!-- Dashboard Tab -->
    <ion-tab title="Home" class="full-width-tab" icon-off="ion-home" icon-on="ion-home" href="#/tab/home">
        <ion-nav-view name="tab-home"></ion-nav-view>
    </ion-tab>
    <!-- Chats Tab -->
    <ion-tab title="News" class="full-width-tab" icon-off="ion-document-text" icon-on="ion-document-text" href="#/tab/keyword">
        <ion-nav-view name="tab-keyword"></ion-nav-view>
    </ion-tab>
</ion-tabs>
